<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deep_water</key>
	<dict>
		<key>upper_elevation_threshold</key>
		<string>0.25</string>
		<key>general_terrain_type</key>
		<string>water</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.0</string>
			<key>maximum_deviation</key>
			<string>0.0</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>1.0</string>
			<key>maximum_temperature_offset</key>
			<string>0.1</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>1.0</string>
			<key>maximum_moisture_offset</key>
			<string>0.0</string>
		</dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>44.0</string>
			<key>green</key>
			<string>81.0</string>
			<key>blue</key>
			<string>187.0</string>
		</dict>
	</dict>
	<key>medium_water</key>
	<dict>
		<key>upper_elevation_threshold</key>
		<string>0.35</string>
		<key>general_terrain_type</key>
		<string>water</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.0</string>
			<key>maximum_deviation</key>
			<string>0.0</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>1.0</string>
			<key>maximum_temperature_offset</key>
			<string>0.1</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>1.0</string>
			<key>maximum_moisture_offset</key>
			<string>0.0</string>
		</dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>54.0</string>
			<key>green</key>
			<string>105.0</string>
			<key>blue</key>
			<string>228.0</string>
		</dict>
	</dict>
	<key>shallow_water</key>
	<dict>
		<key>upper_elevation_threshold</key>
		<string>0.42</string>
		<key>general_terrain_type</key>
		<string>water</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.0</string>
			<key>maximum_deviation</key>
			<string>0.0</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>1.0</string>
			<key>maximum_temperature_offset</key>
			<string>0.1</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>1.0</string>
			<key>maximum_moisture_offset</key>
			<string>0.0</string>
		</dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>96.0</string>
			<key>green</key>
			<string>173.0</string>
			<key>blue</key>
			<string>245.0</string>
		</dict>
	</dict>
	<key>beach</key>
	<dict>
		<key>upper_elevation_threshold</key>
		<string>0.46</string>
		<key>general_terrain_type</key>
		<string>water</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.3</string>
			<key>maximum_deviation</key>
			<string>0.6</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.98</string>
			<key>maximum_temperature_offset</key>
			<string>0.07</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.96</string>
			<key>maximum_moisture_offset</key>
			<string>0.06</string>
		</dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>255.0</string>
			<key>green</key>
			<string>255.0</string>
			<key>blue</key>
			<string>134.0</string>
		</dict>
	</dict>
	<key>low_grass</key>
	<dict>
		<key>upper_elevation_threshold</key>
		<string>0.57</string>
		<key>general_terrain_type</key>
		<string>land</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.45</string>
			<key>maximum_deviation</key>
			<string>0.1</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.77</string>
			<key>maximum_temperature_offset</key>
			<string>0.08</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.78</string>
			<key>maximum_moisture_offset</key>
			<string>0.15</string>
		</dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>115.0</string>
			<key>green</key>
			<string>172.0</string>
			<key>blue</key>
			<string>32.0</string>
		</dict>
	</dict>
	<key>medium_grass</key>
	<dict>
		<key>upper_elevation_threshold</key>
		<string>0.67</string>
		<key>general_terrain_type</key>
		<string>land</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.5</string>
			<key>maximum_deviation</key>
			<string>0.1</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.71</string>
			<key>maximum_temperature_offset</key>
			<string>0.12</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.68</string>
			<key>maximum_moisture_offset</key>
			<string>0.10</string>
		</dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>91.0</string>
			<key>green</key>
			<string>131.0</string>
			<key>blue</key>
			<string>27.0</string>
		</dict>
	</dict>
	<key>forest</key>
	<dict>
		<key>upper_elevation_threshold</key>
		<string>0.73</string>
		<key>general_terrain_type</key>
		<string>land</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.62</string>
			<key>maximum_deviation</key>
			<string>0.1</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.68</string>
			<key>maximum_temperature_offset</key>
			<string>0.06</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.90</string>
			<key>maximum_moisture_offset</key>
			<string>0.13</string>
		</dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>75.0</string>
			<key>green</key>
			<string>107.0</string>
			<key>blue</key>
			<string>24.0</string>
		</dict>
	</dict>
	<key>light_rock</key>
	<dict>
		<key>general_terrain_type</key>
		<string>land</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.73</string>
			<key>maximum_deviation</key>
			<string>0.6</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.57</string>
			<key>maximum_temperature_offset</key>
			<string>0.09</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.55</string>
			<key>maximum_moisture_offset</key>
			<string>0.08</string>
		</dict>
		<key>upper_elevation_threshold</key>
		<string>0.81</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>125.0</string>
			<key>green</key>
			<string>125.0</string>
			<key>blue</key>
			<string>125.0</string>
		</dict>
	</dict>
	<key>medium_rock</key>
	<dict>
		<key>general_terrain_type</key>
		<string>land</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.83</string>
			<key>maximum_deviation</key>
			<string>0.5</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.52</string>
			<key>maximum_temperature_offset</key>
			<string>0.1</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.5</string>
			<key>maximum_moisture_offset</key>
			<string>0.08</string>
		</dict>
		<key>upper_elevation_threshold</key>
		<string>0.87</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>105.0</string>
			<key>green</key>
			<string>105.0</string>
			<key>blue</key>
			<string>105.0</string>
		</dict>
	</dict>
	<key>dark_rock</key>
	<dict>
		<key>general_terrain_type</key>
		<string>land</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.90</string>
			<key>maximum_deviation</key>
			<string>0.5</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.4</string>
			<key>maximum_temperature_offset</key>
			<string>0.1</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.7</string>
			<key>maximum_moisture_offset</key>
			<string>0.2</string>
		</dict>
		<key>upper_elevation_threshold</key>
		<string>0.97</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>70.0</string>
			<key>green</key>
			<string>70.0</string>
			<key>blue</key>
			<string>70.0</string>
		</dict>
	</dict>
	<key>snow</key>
	<dict>
		<key>general_terrain_type</key>
		<string>land</string>
		<key>underground_mineral_content</key>
		<dict>
			<key>average_mineral_content</key>
			<string>0.95</string>
			<key>maximum_deviation</key>
			<string>0.4</string>
		</dict>
		<key>temperature</key>
		<dict>
			<key>maximum_temperature</key>
			<string>0.25</string>
			<key>maximum_temperature_offset</key>
			<string>0.08</string>
		</dict>
		<key>moisture</key>
		<dict>
			<key>maximum_moisture</key>
			<string>0.9</string>
			<key>maximum_moisture_offset</key>
			<string>0.1</string>
		</dict>
		<key>upper_elevation_threshold</key>
		<string>1.0</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>219.0</string>
			<key>green</key>
			<string>219.0</string>
			<key>blue</key>
			<string>219.0</string>
		</dict>
	</dict>
</dict>
</plist>
